/**************/
/* resets lol */
/**************/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff8e7;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: default;
}

/*
        _____
    ,-:` \;',`'-, 
  .'-;_,;  ':-;_,'.
 /;   '/    ,  _`.-\
| '`. (`     /` ` \`|
|:.  `\`-.   \_   / |
|     (   `,  .`\ ;'|
 \     | .'     `-'/
  `.   ;/        .'
    `'-._____. `
*/

body {
  background-color: rgb(19, 19, 19);
  height: 100%;
}
a {
  text-decoration: none;
  color: hotpink;
}
flex-container {
  display: flex;
}

/*****************/
/* custom styles */
/*****************/

/* top bar styling */
.topBar {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8e7ff;
  justify-content: space-between;
  align-items: center;
  padding: 1vmin;
}
.topBar h1 {
  font-size: 32px;
  color: hotpink;
}
.topBar nav a {
  font-size: 24px;
}
.logo {
  width: 5vmin;
  height: 5vmin;
}
/* literally me (just taking up space) */
.bigSection {
  height: 1000px;
}
